html
    head
        title 登录界面
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="css/login.css")
        script.
            if (self != top) {
                top.location = self.location;  //iframe中窗口对象转换成父窗口对象
            } 
    body
        div(class='main')
            div(class='box')
                img(src="./img/body.jpg" class='bgimg')
                form(action="/login" class='loginform' method='post')

                    h1(class='title') 登录界面
                    p(class='clearfix')
                        span(class='span') 用户名：
                        input(type="text", name='username',placeholder='请输入用户名' ,class='input', value=-locals.username !=null?username:null)
                    p(class='clearfix')
                        span(class='span') 密码:
                        input(type="password", name="password",placeholder='请输入密码' ,class='input', value=-locals.password !=null?password:null)
                    p(class='clearfix')
                        span(class='span')
                        input(type="text", name="codeimg",placeholder='请输入验证码' ,class='input' id="code")
                        img(src="", id="codeImg")    
                    div(class='save')
                        input(type="checkbox", name="savepassword" checked)
                        label(for="savepassword") 记住密码
                    div(class='hidden')=-locals.error !=null?error:null
                    p(class='clearfix')
                        span(class='span')
                        input(type="submit", value="登录" class='submit')
                    p(class='clearfix')
                        span(class='span')
                        input(type="button", value="注册" class='submit' onclick="window.location.href='/register'")
                    script(src='js/jquery-3.3.1.min.js')    
                    script.
                             $("#codeImg").bind("click",function(){
                                $("#codeImg").attr("src",changeCode);
                            });
                            changeCode();
                            function changeCode(){
                                $("#codeImg").attr("src","/codeImg.do?"+Math.random());
                            } 
                             $('#code').blur(function () {
                            $.ajax({
                                url: '/checkimg',
                                type: 'post',
                                data: 'code=' + $(this).val(),
                                dataType: "json", //预期的服务器响应的数据类型;  json  |  html/text
                                success: function (result) {
                                    $('.hidden').remove();
                                    if (result.code === 1) {
                                        $('.hidden').text(result.message);
                                    }
                                },
                                error: function (xhr, status, error) { //如果请求失败要运行的函数。
                                    alert(error + "  " + status);
                                }
                            });
                        });        